<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>10000ft.scripts</string>
	<key>connections</key>
	<dict>
		<key>0D32094B-DDC9-482E-8B0D-FE86FF33E793</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>076F3B92-B58D-43DB-ACE0-FD0E879D2563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C8B0035-4EE9-4CA0-892E-753668A79340</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76D677B7-8A20-4627-A235-0C0D00745441</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>717F7DBF-E647-473B-B08D-437D73704E8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DA8622F-DD78-4A5D-B841-A8EA445C7470</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8E7EE09-3366-43F7-8366-99BE31E47D89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B166B48-F3F1-4855-98C1-42A46A60933F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF131D13-447A-462D-906C-C38B86A75544</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D32094B-DDC9-482E-8B0D-FE86FF33E793</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF6008F2-59CC-4F28-B107-A3FA9E10D552</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>902B9660-A2BE-44BE-943C-775B37DEC7E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jasper Ceelen</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>10.000ft Scripts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.10000ft.com/editproject?id={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1B166B48-F3F1-4855-98C1-42A46A60933F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>10khome</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open 10.000ft Homepage</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2C8B0035-4EE9-4CA0-892E-753668A79340</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.10000ft.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>76D677B7-8A20-4627-A235-0C0D00745441</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>10kp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data from 10.000ft</string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Edit Projects in 10.000ft</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8E7EE09-3366-43F7-8366-99BE31E47D89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>10kplan</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open Planning in 10.000ft</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>717F7DBF-E647-473B-B08D-437D73704E8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://app.10000ft.com/plan</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0DA8622F-DD78-4A5D-B841-A8EA445C7470</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your 10.000ft API key was saved</string>
				<key>title</key>
				<string>Saved API key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>076F3B92-B58D-43DB-ACE0-FD0E879D2563</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.10ksetkey</string>
				<key>subtext</key>
				<string>Enter your 10.000ft API key and hit ENTER</string>
				<key>text</key>
				<string>Set your 10.000ft API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF131D13-447A-462D-906C-C38B86A75544</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D32094B-DDC9-482E-8B0D-FE86FF33E793</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.10ksetkey</string>
				<key>subtext</key>
				<string>Open API request page in your browser</string>
				<key>text</key>
				<string>Request an API key from 10.000ft website</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF6008F2-59CC-4F28-B107-A3FA9E10D552</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://10000ft.us6.list-manage2.com/subscribe?u=9c2ec42cba0e4196798807690&amp;id=be8afd4d34</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>902B9660-A2BE-44BE-943C-775B37DEC7E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>076F3B92-B58D-43DB-ACE0-FD0E879D2563</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>0D32094B-DDC9-482E-8B0D-FE86FF33E793</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>0DA8622F-DD78-4A5D-B841-A8EA445C7470</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>1B166B48-F3F1-4855-98C1-42A46A60933F</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>2C8B0035-4EE9-4CA0-892E-753668A79340</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>717F7DBF-E647-473B-B08D-437D73704E8C</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>76D677B7-8A20-4627-A235-0C0D00745441</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>902B9660-A2BE-44BE-943C-775B37DEC7E0</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E8E7EE09-3366-43F7-8366-99BE31E47D89</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>FF131D13-447A-462D-906C-C38B86A75544</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FF6008F2-59CC-4F28-B107-A3FA9E10D552</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.jasperceelen.nl</string>
</dict>
</plist>
