<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>10000ft.scripts</string>
	<key>connections</key>
	<dict>
		<key>03C71B74-6579-4FA8-8421-B17D6F15D23C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9549725-D924-404E-BBE3-73AF805EF960</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D32094B-DDC9-482E-8B0D-FE86FF33E793</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>076F3B92-B58D-43DB-ACE0-FD0E879D2563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>170D3560-1C2E-4307-8739-CC44EFD3E5CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>170D3560-1C2E-4307-8739-CC44EFD3E5CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70CA001F-B629-473A-ACBF-966275B4E70E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3892E247-87A2-4C5C-8C4F-0571E507F40E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DFC4680-A625-44D6-9828-D20EF4D5BFB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3668DFDF-7AFB-4D3F-B635-406C3854E6E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C9D7C6F-7234-4A32-9855-1926F52DE15C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70029311-2131-4A4B-A65D-B5685C90C431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89307B97-8D8C-4132-A89F-78CF55612216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DFC4680-A625-44D6-9828-D20EF4D5BFB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7CEF2B0-4A08-4310-A764-2F14138551C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70029311-2131-4A4B-A65D-B5685C90C431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8211DD0-F1B8-4F8C-8275-BE116F4ED3FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>03C71B74-6579-4FA8-8421-B17D6F15D23C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8E7EE09-3366-43F7-8366-99BE31E47D89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6CA3413-CEB5-438C-8B4C-5E02332E3A8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3892E247-87A2-4C5C-8C4F-0571E507F40E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4A8D894-8A83-46CB-AD04-E04F85583E6F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4A8D894-8A83-46CB-AD04-E04F85583E6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6CA3413-CEB5-438C-8B4C-5E02332E3A8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7CEF2B0-4A08-4310-A764-2F14138551C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8FEC87C-E131-44DD-9AD5-B101CBA0B6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6CA3413-CEB5-438C-8B4C-5E02332E3A8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3892E247-87A2-4C5C-8C4F-0571E507F40E</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F4A8D894-8A83-46CB-AD04-E04F85583E6F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF131D13-447A-462D-906C-C38B86A75544</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D32094B-DDC9-482E-8B0D-FE86FF33E793</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF6008F2-59CC-4F28-B107-A3FA9E10D552</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>902B9660-A2BE-44BE-943C-775B37DEC7E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jasper Ceelen</string>
	<key>description</key>
	<string>10.000ft workflow for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>10.000ft Scripts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --options "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7CEF2B0-4A08-4310-A764-2F14138551C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>10k projects</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data from 10.000ft...</string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --user "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search My Projects in 10.000ft</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8FEC87C-E131-44DD-9AD5-B101CBA0B6E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>[-a-zA-Z0-9@:%_\+.~#?&amp;//=]{2,256}\.[a-z]{2,256}\b(\/[-a-zA-Z0-9@:%_\+.~#?&amp;//=]*)?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>70029311-2131-4A4B-A65D-B5685C90C431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>project_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F6CA3413-CEB5-438C-8B4C-5E02332E3A8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://app.10000ft.com/viewproject?id={query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3892E247-87A2-4C5C-8C4F-0571E507F40E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>10k projects</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data from 10.000ft...</string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search All Projects in 10.000ft</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8E7EE09-3366-43F7-8366-99BE31E47D89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://app.10000ft.com/editproject?id={query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F4A8D894-8A83-46CB-AD04-E04F85583E6F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Project is archived or un-archived in 10.000ft</string>
				<key>title</key>
				<string>Project Archived Status Updated</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>70CA001F-B629-473A-ACBF-966275B4E70E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --"{var:action}" "{var:project_id}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>170D3560-1C2E-4307-8739-CC44EFD3E5CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>toggle_archive_project</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Open 10.000ft Homepage"},{"title":"Open Planning in 10.000ft","arg":"plan"},{"title":"Open Analytics in 10.000ft","arg":"analytics"}]</string>
				<key>keyword</key>
				<string>10k</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6C9D7C6F-7234-4A32-9855-1926F52DE15C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your 10.000ft API key was saved</string>
				<key>title</key>
				<string>Saved API key</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>076F3B92-B58D-43DB-ACE0-FD0E879D2563</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D32094B-DDC9-482E-8B0D-FE86FF33E793</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.10ksetkey</string>
				<key>subtext</key>
				<string>Enter your 10.000ft API key and hit ENTER</string>
				<key>text</key>
				<string>Set your 10.000ft API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF131D13-447A-462D-906C-C38B86A75544</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.10ksetkey</string>
				<key>subtext</key>
				<string>Open API request page in your browser</string>
				<key>text</key>
				<string>Request an API key from 10.000ft website</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF6008F2-59CC-4F28-B107-A3FA9E10D552</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://10000ft.us6.list-manage2.com/subscribe?u=9c2ec42cba0e4196798807690&amp;id=be8afd4d34</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>902B9660-A2BE-44BE-943C-775B37DEC7E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your 10.000ft User-tag-name was saved</string>
				<key>title</key>
				<string>Saved User-tag-name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3668DFDF-7AFB-4D3F-B635-406C3854E6E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.10ksetuser</string>
				<key>subtext</key>
				<string>Enter your 10.000ft User-tag-name and hit ENTER</string>
				<key>text</key>
				<string>Set your 10.000ft User-tag-name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89307B97-8D8C-4132-A89F-78CF55612216</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --setuser "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5DFC4680-A625-44D6-9828-D20EF4D5BFB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Fetching data from 10.000ft API</string>
				<key>title</key>
				<string>Update running</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A9549725-D924-404E-BBE3-73AF805EF960</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python update.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03C71B74-6579-4FA8-8421-B17D6F15D23C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.10kupdate</string>
				<key>subtext</key>
				<string>Hit ENTER to Update the data from 10.000ft</string>
				<key>text</key>
				<string>Update 10.000ft Data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8211DD0-F1B8-4F8C-8275-BE116F4ED3FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/jceelen/alfred-10000ft-scripts</string>
	<key>uidata</key>
	<dict>
		<key>03C71B74-6579-4FA8-8421-B17D6F15D23C</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>076F3B92-B58D-43DB-ACE0-FD0E879D2563</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>0D32094B-DDC9-482E-8B0D-FE86FF33E793</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</key>
		<dict>
			<key>note</key>
			<string>if action is archive</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>170D3560-1C2E-4307-8739-CC44EFD3E5CA</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>3668DFDF-7AFB-4D3F-B635-406C3854E6E9</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>3892E247-87A2-4C5C-8C4F-0571E507F40E</key>
		<dict>
			<key>note</key>
			<string>view</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>5DFC4680-A625-44D6-9828-D20EF4D5BFB7</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6C9D7C6F-7234-4A32-9855-1926F52DE15C</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>70029311-2131-4A4B-A65D-B5685C90C431</key>
		<dict>
			<key>note</key>
			<string>if action contains an URL</string>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>70CA001F-B629-473A-ACBF-966275B4E70E</key>
		<dict>
			<key>xpos</key>
			<integer>1180</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>89307B97-8D8C-4132-A89F-78CF55612216</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>902B9660-A2BE-44BE-943C-775B37DEC7E0</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>A7CEF2B0-4A08-4310-A764-2F14138551C5</key>
		<dict>
			<key>note</key>
			<string>show submenu</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A9549725-D924-404E-BBE3-73AF805EF960</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>C8211DD0-F1B8-4F8C-8275-BE116F4ED3FE</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>E8E7EE09-3366-43F7-8366-99BE31E47D89</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>F4A8D894-8A83-46CB-AD04-E04F85583E6F</key>
		<dict>
			<key>note</key>
			<string>edit</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>F6CA3413-CEB5-438C-8B4C-5E02332E3A8B</key>
		<dict>
			<key>note</key>
			<string>Set `project_id` variable</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>F8FEC87C-E131-44DD-9AD5-B101CBA0B6E7</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>FF131D13-447A-462D-906C-C38B86A75544</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>FF6008F2-59CC-4F28-B107-A3FA9E10D552</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.4</string>
	<key>webaddress</key>
	<string>www.jasperceelen.nl</string>
</dict>
</plist>
