<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>10000ft.scripts</string>
	<key>connections</key>
	<dict>
		<key>0C6960B1-5D66-49EC-8CC1-2BBE74EE5302</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56AD879F-874C-4FD5-A55C-942FC0973538</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>170D3560-1C2E-4307-8739-CC44EFD3E5CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>170D3560-1C2E-4307-8739-CC44EFD3E5CA</key>
		<array/>
		<key>4CDCF0B6-4A8C-4E1E-8533-39CCAC6913BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56AD879F-874C-4FD5-A55C-942FC0973538</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C9D7C6F-7234-4A32-9855-1926F52DE15C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2D1D1CC-A86D-4A80-9C21-471086FEDDFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70029311-2131-4A4B-A65D-B5685C90C431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>841A7ED1-350F-4642-8FAA-F72A886D3153</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>70029311-2131-4A4B-A65D-B5685C90C431</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89307B97-8D8C-4132-A89F-78CF55612216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF55124E-72BB-454A-BE96-AE8E1D24E135</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7CEF2B0-4A08-4310-A764-2F14138551C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF55124E-72BB-454A-BE96-AE8E1D24E135</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2D1D1CC-A86D-4A80-9C21-471086FEDDFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7A7AACE-ACF3-4A62-B330-F17D3C1DB1CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8E7EE09-3366-43F7-8366-99BE31E47D89</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7CEF2B0-4A08-4310-A764-2F14138551C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8FEC87C-E131-44DD-9AD5-B101CBA0B6E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7CEF2B0-4A08-4310-A764-2F14138551C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF131D13-447A-462D-906C-C38B86A75544</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7A7AACE-ACF3-4A62-B330-F17D3C1DB1CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF6008F2-59CC-4F28-B107-A3FA9E10D552</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CDCF0B6-4A8C-4E1E-8533-39CCAC6913BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jasper Ceelen</string>
	<key>description</key>
	<string>10.000ft workflow for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>10.000ft Scripts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Open 10.000ft Homepage"},{"title":"Open Planning in 10.000ft","arg":"plan"},{"title":"Open Analytics in 10.000ft","arg":"analytics"}]</string>
				<key>keyword</key>
				<string>10k</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6C9D7C6F-7234-4A32-9855-1926F52DE15C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://app.10000ft.com/{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D2D1D1CC-A86D-4A80-9C21-471086FEDDFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>170D3560-1C2E-4307-8739-CC44EFD3E5CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>10k projects</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data from 10.000ft...</string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search All Projects in 10.000ft</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E8E7EE09-3366-43F7-8366-99BE31E47D89</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>(^(10000ft.py --))</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --options {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A7CEF2B0-4A08-4310-A764-2F14138551C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>841A7ED1-350F-4642-8FAA-F72A886D3153</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>10k projects</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data from 10.000ft...</string>
				<key>script</key>
				<string>/usr/bin/python 10000ft.py --user "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search My Projects in 10.000ft</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8FEC87C-E131-44DD-9AD5-B101CBA0B6E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>(^(http))</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>70029311-2131-4A4B-A65D-B5685C90C431</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.10ksetkey</string>
				<key>subtext</key>
				<string>Enter your 10.000ft API key and hit ENTER</string>
				<key>text</key>
				<string>Set your 10.000ft API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF131D13-447A-462D-906C-C38B86A75544</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>10000ft.py --setkey {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E7A7AACE-ACF3-4A62-B330-F17D3C1DB1CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.10ksetkey</string>
				<key>subtext</key>
				<string>Open API request page in your browser</string>
				<key>text</key>
				<string>Request an API key from 10.000ft website</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FF6008F2-59CC-4F28-B107-A3FA9E10D552</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>http://10000ft.us6.list-manage2.com/subscribe?u=9c2ec42cba0e4196798807690&amp;id=be8afd4d34</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4CDCF0B6-4A8C-4E1E-8533-39CCAC6913BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>.10ksetuser</string>
				<key>subtext</key>
				<string>Enter your 10.000ft User-tag-name and hit ENTER</string>
				<key>text</key>
				<string>Set your 10.000ft User-tag-name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>89307B97-8D8C-4132-A89F-78CF55612216</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>10000ft.py --setuser {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AF55124E-72BB-454A-BE96-AE8E1D24E135</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>.10kupdate</string>
				<key>subtext</key>
				<string>Hit ENTER to get the latest data from 10.000ft</string>
				<key>text</key>
				<string>Update data from 10.000ft</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C6960B1-5D66-49EC-8CC1-2BBE74EE5302</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>10000ft.py --update force</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>56AD879F-874C-4FD5-A55C-942FC0973538</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The aim is to make working with 10.000ft faster (only tested in Alfred3).

Quick start: Copy your API key to the clipboard, and use `.10ksetkey` to save your API key

Help and info: https://github.com/jceelen/alfred-10000ft-scripts</string>
	<key>uidata</key>
	<dict>
		<key>0C6960B1-5D66-49EC-8CC1-2BBE74EE5302</key>
		<dict>
			<key>note</key>
			<string>Refresh 10.000ft Data</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>0DD079D2-D5A8-4323-B89A-49131DFE7B0A</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>IF query starts with '10000ft.py --'</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>170D3560-1C2E-4307-8739-CC44EFD3E5CA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Run 10000ft.py with input from submenu</string>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>4CDCF0B6-4A8C-4E1E-8533-39CCAC6913BE</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>56AD879F-874C-4FD5-A55C-942FC0973538</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>6B6625BA-C8D4-4D8D-BFFB-DCD69352C1B8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>6C9D7C6F-7234-4A32-9855-1926F52DE15C</key>
		<dict>
			<key>note</key>
			<string>General 10.000ft Shortcuts</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>70029311-2131-4A4B-A65D-B5685C90C431</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>IF query starts with http</string>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>841A7ED1-350F-4642-8FAA-F72A886D3153</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>89307B97-8D8C-4132-A89F-78CF55612216</key>
		<dict>
			<key>note</key>
			<string>Set your 10.000ft User-tag-name</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>A7CEF2B0-4A08-4310-A764-2F14138551C5</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>show submenu</string>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>AF55124E-72BB-454A-BE96-AE8E1D24E135</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>D2D1D1CC-A86D-4A80-9C21-471086FEDDFF</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>E7A7AACE-ACF3-4A62-B330-F17D3C1DB1CF</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>E8E7EE09-3366-43F7-8366-99BE31E47D89</key>
		<dict>
			<key>note</key>
			<string>Search All Projects</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>F8FEC87C-E131-44DD-9AD5-B101CBA0B6E7</key>
		<dict>
			<key>note</key>
			<string>Search My Projects</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>FF131D13-447A-462D-906C-C38B86A75544</key>
		<dict>
			<key>note</key>
			<string>Set your 10.000ft API key</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>FF6008F2-59CC-4F28-B107-A3FA9E10D552</key>
		<dict>
			<key>note</key>
			<string>Request an API key from 10.000ft website</string>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.5.3</string>
	<key>webaddress</key>
	<string>www.jasperceelen.nl</string>
</dict>
</plist>
